<h2>My Courses</h2>
<section>
    
    <table class="table table-hover">
       <thead class="table-dark">
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Action</th>
        </tr>
        
       </thead>
       <tbody *ngFor="let repo of repos">
        <tr>
            <td>{{repo.cid}}</td>
            <td>{{repo.cname}}</td>
            <td><button type="button" class="btn btn-outline-primary" (click)="del(repo.id)">Delete</button></td>
        </tr>

       </tbody>
    </table><a href="/home"><button class="btn btn-outline-primary" >Back to Home</button></a>
    
</section>
<router-outlet></router-outlet>